DATABASE_URL="postgresql://your_postgres_user:your_postgres_pwd@postgres:5432/your_db_name?schema=public"
JWT_SECRET=votre_secret_jwt
TMBD_TOKEN=votre_token_tmdb
RAPIDAPI_KEY=votre_cle_rapidapi
MOVIE_NIGHT_API_KEY=votre_cle_movie_night
PORT=3000
COUNTRY='fr'